@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* .body {
  background-image: url(../public/assets/placeholder.jpg) no-repeat;
} */
* {
  text-align: center;
  font-family: "Josefin Sans", cursive;
}

.table {
  margin-left: "32%";
  width: auto;
  text-align: center;
  background-color: lightblue;
  border: 3px solid #ddd;
}
