@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* .body {
  background-image: url(../public/assets/placeholder.jpg) no-repeat;
} */
.App {
  text-align: center;
  font-family: "Josefin Sans", cursive;
}
