@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  background: url(./assets/placeholder.jpg) no-repeat;
}
.content {
  font-family: "Josefin Sans", cursive;
  text-align: center;
}

/* button {
  margin-bottom: 10px;
} */

.table {
  justify-content: center;
  text-align: center;
  background-color: lightblue;
  border: 3px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
thead {
  background-color: darkblue;
}

td,
th {
  padding: 2%;
  border: 1px solid white;
}
